html {
    height: 100%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
    
}
.linksHeader {
    height: 15%;
    overflow: hidden;
    background-color: rgb(68, 103, 155);
}
.linksLeft {
    float: left;
    width: 30%;
    margin-left: 25%;
    color: white;
}
.linksRight {
    margin-left: 60%;
    color: white; 
}
.main {
    height: 85%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: azure;
}
.main .divOne h1 {
    padding: 80px;
}
.main .divOne p {
    font-size: 20px;
}
.main .divOne {
    text-align: center;
}
.divOne {
    padding: 0 100px 0 0;
    flex: 0 1 50%;
}
.divTwo {
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

